SUPABASE_URL=https://ldcukldezlbjiqhkocud.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_eylWqxr0BDymmpPSLqd0fA_lgTTote1
SUPABASE_SERVICE_ROLE_KEY=replace_with_server_only_secret
NEXT_PUBLIC_SUPABASE_URL=https://ldcukldezlbjiqhkocud.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_eylWqxr0BDymmpPSLqd0fA_lgTTote1
